/*
* Absolute bare-bone styling for custom select that's necessary for it to work properly
* Any cosmetic styling should be done in customizable-select-skin.css
*/

/* Wrapper element to enable positioning */
.customizable-select-container {
	position: relative;
	display: inline-block;
}

.customizable-select--is-replaced,
.custom-select {
	box-sizing: border-box;
	width: 100%;
}

/* Set the dimensions of the replaced select element and make it transparent. */
.customizable-select--is-replaced {
	position: relative;
	z-index: 2;
	width: 100%;
	opacity: 0;
}

/* fake-element that acts as custom select */
.custom-select {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
}
