/* Wrapper element to enable positioning */
.customizable-select-container {
	position: relative;
}

/* Set the dimensions of the replaced select element and make it transparent. */
.customizable-select--is-replaced {
	position: relative;
	z-index: 2;
	width: 100%;
	border: 0;
	opacity: 0;
}

/* fake-element that acts as custom select */
.custom-select {
	display: block;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	background: beige;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.customizable-select--is-replaced:focus + .custom-select {
	background: yellow;	
}

.custom-select::after {
	display: block;
	content: '';
	position: absolute;
	right: 0.5em;
	top: 0;
	width: 0.5em;
	height: 0.5em;
	border: 2px solid currentColor;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
}
